:root{

  /* Black theme */
  --darkestcolor: #2e2e2e;
  --darkercolor:#383838;
  --darkcolor: #8a8a8a;
  --lightcolor: #cbcbcb;
  --lightercolor:rgb(235, 235, 235) ;
  
  /* Green Theme */
  /* --darkestcolor: #205650;
  --darkercolor:#EBE5C2;
  --darkcolor: #b5af8c;
  --lightcolor: #F8F3D9;
  --lightercolor:rgb(193, 241, 181) ; */
 
 /* Brown theme */
  /* --darkestcolor: #535244;
  --darkercolor:#EBE5C2;
  --darkcolor: #b5af8c;
  --lightcolor: #F8F3D9;
  --lightercolor:rgb(189, 242, 172); */

  /* dark blue theme */
  /* --darkestcolor: rgb(10, 43, 81);
  --darkercolor:#c2ebe4;
  --darkcolor: #91e6f3;
  --lightcolor: #6caaf0;
  --lightercolor:rgb(172, 242, 232); */

/* steel blue theme */
  /* --darkestcolor: #122932;
  --darkercolor:#EBF5EE;
  --darkcolor: #78A1BB;
  --lightcolor: #bbddf1;
  --lightercolor:#94daea ; */
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--darkestcolor);
  color: var(--lightercolor);
  overflow-x: none;
  max-width: 98vh;
}

.icon {
  cursor: pointer;
}

nav {
  background: linear-gradient(to bottom, var(--darkercolor),var(--lightcolor));
  width: 98vw;
  height: 8vh;
  margin: 0px 10px;
  gap: 15rem;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  
}

.hamburger-spotify {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.hamburger {
  display: none;
  height: 30px;
  width: 30px;
}

#spotify-icon {
  height: 29px;
  width: 39px;
}

#home-icon {
  width: 35px;
  height: 35px;
  opacity: 0.7;
  transition: opacity 0.4s;
}

#home-icon:hover {
  opacity: 1;
}

.nav-mid input {
  width: 25vw;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 0 10px;
  background-color: var(--darkestcolor);
  color: var(--lightcolor);
}

input::placeholder {
  color: var(--darkcolor);
  font-size: 15px;
  padding-left: 30px;
}

.search-icon,
.noti-icon {
  height: 60px;
  width: 20px;
  opacity: 0.7;
  transition: opacity 0.4s;
}

.noti-icon:hover {
  opacity: 1;
}

.nav-mid,
.search-bar {
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  position: relative;
}

.search-bar img {
  position: absolute;
  left: 10px;
}

.noti-profile {
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  margin-right: 10px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  width: 33px;
  border: 1px solid var(--lightercolor);
  border-radius: 33px;
  font-size: 20px;
  background-color: var(--darkestcolor);
  color: var(--lightercolor);
  border: none;
  cursor: pointer;
}

.profile:hover {
  font-size: 21px;
}

main {
  position: relative;
  width: 98vw;
  height: 82vh;
  box-sizing: border-box;
  display: flex;
  margin: 0px 10px;
}

.left {
  height: 100%;
  width: 30%;
  box-sizing: border-box;
  background-color: var(--darkestcolor);
}

.left-head {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 7px 0px 0px 10px;
}


.library-icon {
  height: 35px;
  width: 34px;
}

.song-list {
  margin: 10px;
  height: 85%;
  width: 85%;
  overflow-y: auto;
  border-radius: 20px;
  background-color: var(--darkcolor);
  
  padding: 8px;
}

.song-list li {
  margin: auto;
  list-style: none;
  list-style-position: inside;
  display: flex;
  border: 2px solid var(--darkestcolor);
  border-radius: 10px;
  height: 60px;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  transition: all 0.4s;
  background: linear-gradient(to right, var(--darkcolor) 25%, var(--lightcolor) 75%);
  word-wrap: break-word;
  font-size: 16px;
  color:var(--darkestcolor);
  font-weight: bold;
  transition: all 0.4s;
}

.song-list li:hover {
  background: linear-gradient(to left, var(--darkcolor) 25%, var(--lightcolor) 75%);
  color: var(--darkestcolor);
  font-weight: bolder;
}

.song-list ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.song {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.song span {
  word-wrap: break-word;
}

#music-icon {
  height: 36px;
  width: 36px;
}

.song-list .play-btn {
  border: 1px solid var(--darkercolor);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  background-color: var(--darkestcolor);
}

.play-btn img {
  
  height: 50px;
  width: 20px;
}

.play-btn:hover img {
  height: 53px;
  width: 23px;
  transition: all 0.4s;
}


#highlight {
  background: var(--darkestcolor);
  color:var(--lightercolor);
  font-weight: bolder;
}

.right {
  height: 100%;
  width: 70%;
  box-sizing: border-box;
}

.right>h2 {
  margin: 10px;
}

.album-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 10px;
}

.album-img {
  height: 65%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-sizing: border-box;
}

.card-container {
  padding: 10px 0px;
  margin: 14px 15px;
  height: 85%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  overflow-y: auto;
  background: linear-gradient(to bottom, var(--darkcolor) 25%, var(--lightcolor) 75%);
  border-radius: 20px;
  /* border:1px solid white; */
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 220px;
  width: 150px;
  padding: 8px;
  border-radius: 10px;
  transition: all 0.4s;
  position: relative;
  background: linear-gradient(to bottom, var(--darkestcolor) 25%, var(--lightercolor) 75%);
  color:var(--darkestcolor);
  font-weight: bold;
}

.hover-play {
  display: none;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 34px;
  border-radius: 20px;
  background-color: var(--lightcolor);
  position: absolute;
  top: 45%;
  right: 10%;
  transition: all 0.4s;
}

.hover-play img {
  height: 21px;
  width: 26px;
}

.cards:hover {
  background: linear-gradient(to top, var(--darkestcolor) 10%, var(--lightercolor) 90%);
  color: var(--lightercolor);
  font-weight: bolder;
  cursor: pointer;
}

.cards:hover .hover-play {
  display: flex;
  bottom: 139px;
  right: 18px;
}

.album-title {
  font-size: 18px;
}

.card-desc {
  font-size: 12px;
}

footer {
  height: 10vh;
  width: 98vw;
  box-sizing: border-box;
  display: flex;
  position: fixed;
  bottom: 0;
  margin: 0px 10px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: linear-gradient(to bottom, var(--darkercolor),var(--lightcolor));
  color:var(--darkestcolor);
  font-weight: bold;
}

input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  width: 100%;
  height: 8px;
  background: var(--darkestcolor); 
  border-radius: 5px;
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--lightercolor); 
  border: 1px solid var(--darkercolor); 
  border-radius: 50%;
  cursor: pointer;
}


.song-name {
  display: flex;
  height: 100%;
  width: 25%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  word-wrap: break-word;
}

.song-operations {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;

}


.volume {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 25%;
}

.volume-icon {
  height: 25px;
  width: 25px;
}

.volume input {
  width: 50%;
}

.basic-operations {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.song-operations img {
  height: 20px;
  width: 20px;
  opacity: 0.7;
  transition: all 0.4s
}

.song-operations img:hover {
  opacity: 1;
}

.volume {
  height: 100%;
  width: 20%;
  box-sizing: border-box;
}

.play{
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--lightcolor);
  border-radius: 20px;
  background-color: var(--darkestcolor);

}

.play img {
  height: 20px;
  width: 20px;
  opacity: 1;
}

.play:hover img {
  height: 22px;
  width: 22px;
}

.curr-time,
.total-time {
  text-align: center;
  height: 20px;
  width: 60px;
  margin-left: 8px;
}

.seekbar {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.seek {
  position: relative;
  height: 3px;
  width: 400px;
  background-color: var(--darkestcolor);
  transition: all 0.4s;
}

.circle {
  height: 8px;
  width: 8px;
  border: 1px solid var(--lightercolor);
  background: var(--lightercolor);
  border-radius: 8px;
  position: absolute;
  bottom: -3px;
  left: 0px;
  transition: left 0.4s;
}

.circle:hover~.seek {
  background-color: var(--lightercolor);
}


@media (max-width: 1024px) {
  main {
    margin: 0px 6px;
  }

  nav {
    gap: 3.5rem;
    margin: 0px 6px;
  }

  .out {
    position: absolute;
    left: -100%;
    height: 82vh;
    z-index: 1;
    transition: all 0.6s;
    background-color: var(--darkestcolor);
  }

  .in {
    position: absolute;
    left: 0%;
    height: 82vh;
    width: 30vw;
    z-index: 1;
    transition: all 0.6s;
    background-color: var(--darkestcolor);
  }

  .right {
    position: relative;
    width: 100%;
    transition: all 0.4s;
  }

  .hamburger {
    display: flex;
  }

  footer {
    margin: 0px 6px;
  }

}

@media (max-width:850px) {
  input::placeholder {
    color: var(--darkestcolor);
  }

  .in {
    width: 50vw;
  }
}

@media (max-width:768px) {
  .in {
    width: 60vw;
  }

  .cards {
    height: 236px;
    width: 182px;
  }
}

@media(max-width:680px) {
  .cards {
    height: 300px;
    width: 225px;
    gap: 14px;
  }

  .hover-play {
    top: 45%;
    height: 50px;
    width: 50px;
    border-radius: 25px;
  }

  .album-title {
    font-size: 22px;
  }

  .card-desc {
    font-size: 15px;
  }

  .hover-play img {
    height: 33px;
    width: 26px;
  }
}

@media (max-width:550px) {
  nav {
    width: 95vw;
    gap: 10px;
    margin: 0px 12px;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    gap: 5px;
  }

  .volume {
    width: 100%;
  }

  .song-operations {
    width: 100%;
  }

  .volume-icon {
    height: 20px;
    width: 20px;
  }

  main {
    height: 72vh;
  }

  main,
  footer {
    width: 95vw;
    margin: 0px 12px;
  }

  .noti-profile {
    gap: 0.5rem;
  }

  .in {
    width: 80vw;
    height: 71vh;
  }

  .out {
    height: 71vh;
  }

  .song-name {
    width: 90vw;
    margin: 2px 0px;
  }

  .cards {
    height: 282px;
    width: 207px;
    gap: 8px;
  }

  .hover-play {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    top: 43%;
  }

  .hover-play img {
    height: 33px;
    width: 26px;
  }

  .album-title {
    font-size: 25px;
  }

  .card-desc {
    font-size: 15px;
  }

}

@media (max-width:400px) {
  nav {
    gap: 2px;
  }

  .noti-profile,
  .hamburger-spotify {
    gap: 0.5rem;
  }

  .card-container {
    height: 80%;
  }
}

@media (max-width: 375px) {

  nav,
  main,
  footer {
    margin: 0px 10px;
  }

  .in {
    width: 90vw;
  }
}

@media(max-width:320px) {

  nav,
  main,
  footer {
    margin: 0px 6px;
  }

}